{% extends "base.html" %}
{% load custom_tags %}

{% block footer %}

    <section class="container">
        <h1 class="display-4 text-center mb-4">My Orders</h1>
        <div class="row" style="max-height: 80vh; overflow-y: scroll;">
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Ordered At</th>
                        <th scope="col">Price</th>
                        <th scope="col">Items</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <th scope="row">{{order.date.date}}</th>
                            <td>
                                <p>{{order.price}}</p>
                            </td>
                            <td>
                                {% for item in order.items.all %}
                                    <p>
                                        {{item.item.name}} ({{item.quantity}})
                                    </p>
                                {% endfor %}
                            </td>
                            <td>
                                {% if order.status %}
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>




{% endblock %}




