{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col-4">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
            <div class="col-8 text-right">
              {% if user|has_group:"client" %}
                <a class="btn btn-primary" href="{% url 'MyOrders' %}">My Orders</a>
              {% endif %}
              {% if user|has_group:"bariast" %}
                <a class="btn btn-primary" href="{% url 'BookingView' %}">All Bookings</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}